<form action="<%= Route::FILE_NEW %>" method="post">
  <h3>Add a new document:</h3>
  <p>
    <input type="text" name="name" width="25" value="<%= @file_name %>">
    <input type="submit" value="Create Document">
  </p>
</form>
