<div class="list-of-names-wrapper">
  <ul class="list-of-names">
    <% @info.each do |info| %>
      <% name = info.first %>
      <li class="name">
        <a href="/user?name=<%= name %>" class="link-to-user-page"
           id="user-<%= name %>">
          <%= name %>
        </a>
      </li>
    <% end %>
  </ul>
</div>
