<div class="item-wrapper email-address-wrapper">
  <p class="item-paragraph email-address-paragraph">
    <span class="label">Email address:</span>
    <span class="value email-address"><%= @email %></span>
  </p>
</div>

<div class="item-wrapper interests-wrapper">
  <p class="item-paragraph interests-paragraph">
    <span class="label">Interests:</span>
    <span class="value interests"><%= @interests.join ', ' %></span>
  </p>
</div>
